<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

</head>

<body>
    <!-- <h1> Hello World</h1>
    {% if quote %}
    <h2>{{quote}}</h2>
    {% else %}
    <h2> No variable quote here </h2>
    {% endif %}
    <h2> My favorite firuts are: </h2>
    <ul>
        {% for friut in friuts %}
        <li>{{ friut }}</li>
        {% endfor %}
    </ul> -->


    <nav style="margin-top: 20px; margin-left: 45px;">
        <a class="btn btn-primary" href="{{ url_for('quotes') }}"> Add Quote</a>
    </nav>

    <br>

    <div class="container theme-showcase" role="main">

        <div style="color:white; background-color: black; text-align: center; padding: 50px;" class="jumbotron">
            <h1>Favroite Quotes</h1>
        </div>
        {% for r in result %}
        <div style="color:aliceblue; background-color:blue ">
            <h1>{{ r.author }}</h1>
            <blockquote>{{ r.quote }}</blockquote>
        </div>
        {% endfor %}
    </div>
</body>

</html>