<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>
    <br>
    <br>

    <div class="container">
        <form action="/process" method="POST">
            <div class="form-group">
                <label for="author"> Quote Author </label>
                <input type="text" class="form-control" name="author" id="quote" placeholder="Add quote author here...">
                <label for="quote">Quote</label>
                <textarea class="form-control" name="quote" id="author" placeholder="Add your quote here..."
                    rows="5"></textarea>

            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit"> Submit Your Quote </button>
        </form>
    </div>
</body>

</html>